*{
    margin: 0;
    padding: 0;
}
header{
    background-color:forestgreen;
}
.titulo {
    color: white;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
body {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    background-image: url(../img/cielo.png);
    background-size: cover;
    
    width: 100%;
    min-height: 70vh;
 }
  .encabezado-moneda {
color: black;

  }
  /* .moneda {
    
  } */
  #btn-moneda {
    font-size: 25px;
    background-color: yellow;
    cursor: pointer;
    padding: 5px 25px 5px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
  }

  #btn-moneda:hover {
    letter-spacing: 2px;
    color: white;
    background-color: green;
  }